body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(106,188,191);
}

div {
    display: flex;
}

#rolling {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: white;
    margin: 10px;
    margin-bottom: 100px;
    animation: turning 1s infinite ease-in-out;
}

#rolling::before {
    content: "";
    position: absolute;
    background-color: white;
    left: -25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;  
}

#rolling::after {
    content: "";
    position: absolute;
    background-color: white;
    left: 25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;  
}

@keyframes turning {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(180deg);
    }
}

#stick {
    width: 20px;
    height: 100px;
    background-color: white;
    margin: 10px;
    animation: loading 1s infinite ease-in-out;
}

#stick:nth-child(1) {
    animation-delay: 0.1s;
}
#stick:nth-child(2) {
    animation-delay: 0.2s;
}
#stick:nth-child(3) {
    animation-delay: 0.3s;
}
#stick:nth-child(4) {
    animation-delay: 0.4s;
}
#stick:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes loading {
    0% {
        transform: scale(0.7);
    } 
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.7);
    }
}


